extension/implementation/fabric3-web/src/main/resources/META-INF/sca-implementation-web.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Fabric3
 Copyright (c) 2009 Metaform Systems

Fabric3 is licensed under modified terms of the GNU General
Public License. See the accompanying license file for details.


-->
<!--
    $Rev$ $Date$
-->
<schema targetNamespace="http://docs.oasis-open.org/ns/opencsa/sca/200912"
		xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">
        
    <include schemaLocation="sca-core-1.1-cd05.xsd" />

    <element name="implementation.web" type="WebImplementation"
             substitutionGroup="sca:implementation"/>
    <complexType name="WebImplementation ">
        <complexContent>
            <extension base="sca:Implementation">
                <sequence>
                    <any namespace="##other" processContents="lax"
                         minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="requires" type="sca:listOfQNames" use="optional"/>
                <attribute name="policySets" type="sca:listOfQNames"
                           use="optional"/>
                <anyAttribute namespace="##any" processContents="lax"/>
            </extension>
        </complexContent>
    </complexType>
</schema>