extension/binding/fabric3-binding-ftp/src/main/resources/META-INF/f3-binding-ftp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="urn:org.fabric3:binding:ftp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912" xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<include schemaLocation="sca-core-1.1-cd05.xsd" />

	<xsd:simpleType name="FtpTransferMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTIVE" />
			<xsd:enumeration value="PASSIVE" />
		</xsd:restriction>
	</xsd:simpleType>

	<complexType name="FtpBinding">
		<complexContent>
			<extension base="sca:Binding">
				<sequence>
					<element name="commands" type="Commands" />
					<any namespace="##other" processContents="lax" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
				<attribute name="uri" type="anyURI" use="required" />
				<attribute name="mode" type="FtpTransferMode" use="optional" />
				<attribute name="tmpFileSuffix" type="xsd:string" use="optional" />
				<anyAttribute namespace="##any" processContents="lax" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Commands">
		<sequence>
			<element name="command" type="Command" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="Command" />


	<element name="binding.ftp" type="FtpBinding"
		substitutionGroup="sca:binding" />

</schema>
