extension/binding/fabric3-binding-zeromq/src/main/resources/META-INF/f3-binding-zeromq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Fabric3
 Copyright (c) 2009-2011 Metaform Systems

Fabric3 is licensed under modified terms of the GNU General
Public License. See the accompanying license file for details.


-->
<!--
    $Rev$ $Date$
-->
<schema targetNamespace="http://www.fabric3.org/xmlns/rs/1.0"
		xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <include schemaLocation="sca-core-1.1-cd05.xsd" />


    <element name="binding.zeromq"
		type="ZmqBinding" substitutionGroup="sca:binding"/>
		
    <complexType name="ZmqBinding ">
        <complexContent>
            <extension base="sca:Binding">
                <sequence>
                    <any namespace="##other" processContents="lax"
                         minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="class" type="NCName" use="required"/>
                <attribute name="uri" type="anyURI" use="required"/>
                <attribute name="requires" type="sca:listOfQNames" use="optional"/>
                <attribute name="policySets" type="sca:listOfQNames"
                           use="optional"/>
                <anyAttribute namespace="##any" processContents="lax"/>
            </extension>
        </complexContent>
    </complexType>
</schema>