extension/implementation/fabric3-java/src/main/resources/META-INF/sca-implementation-java.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) Copyright SCA Collaboration 2006 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://docs.oasis-open.org/ns/opencsa/sca/200903"
        xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200903"
        elementFormDefault="qualified">

    <include schemaLocation="sca-core.xsd"/>

    <element name="implementation.java" type="sca:JavaImplementation"
             substitutionGroup="sca:implementation"/>
    <complexType name="JavaImplementation">
        <complexContent>
            <extension base="sca:Implementation">
                <sequence>
                    <any namespace="##other" processContents="lax"
                         minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="class" type="NCName" use="required"/>
                <attribute name="requires" type="sca:listOfQNames" use="optional"/>
                <attribute name="policySets" type="sca:listOfQNames"
                           use="optional"/>
                <anyAttribute namespace="##any" processContents="lax"/>
            </extension>
        </complexContent>
    </complexType>
</schema>