extension/implementation/fabric3-junit/src/main/resources/META-INF/f3-implementation-junit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Fabric3
 Copyright (c) 2009-2013 Metaform Systems

Fabric3 is licensed under modified terms of the GNU General
Public License. See the accompanying license file for details.


-->
<!--

-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://fabric3.org/xmlns/sca/2.0-alpha"
        xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
        elementFormDefault="qualified">

    <import namespace="http://docs.oasis-open.org/ns/opencsa/sca/200912" schemaLocation="sca-core.xsd"/>

    <element name="junit" type="JUnitImplementation"
             substitutionGroup="sca:implementation"/>
    <complexType name="JUnitImplementation ">
        <complexContent>
            <extension base="sca:Implementation">
                <sequence>
                    <any namespace="##other" processContents="lax"
                         minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="class" type="NCName" use="required"/>
                <attribute name="requires" type="sca:listOfQNames" use="optional"/>
                <attribute name="policySets" type="sca:listOfQNames"
                           use="optional"/>
                <anyAttribute namespace="##any" processContents="lax"/>
            </extension>
        </complexContent>
    </complexType>
</schema>