extension/binding/fabric3-binding-ws/src/main/resources/META-INF/sca-binding-webservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) Copyright SCA Collaboration 2006, 2007 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://docs.oasis-open.org/ns/opencsa/sca/200903"
        xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200903"
        xmlns:wsdli="http://www.w3.org/2004/08/wsdl-instance"
        xmlns:wsa="http://www.w3.org/2005/08/addressing"
        elementFormDefault="qualified">

    <import namespace="http://www.w3.org/2004/08/wsdl-instance"
            schemaLocation="wsdli.xsd"/>
    <import namespace="http://www.w3.org/2005/08/addressing"
            schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
    <include schemaLocation="sca-core.xsd"/>

    <element name="binding.ws" type="sca:WebServiceBinding"
             substitutionGroup="sca:binding"/>
    <complexType name="WebServiceBinding">
        <complexContent>
            <extension base="sca:Binding">
                <sequence>
                    <element ref="wsa:EndpointReference" minOccurs="0"
                             maxOccurs="unbounded"/>
                    <any namespace="##other" processContents="lax" minOccurs="0"
                         maxOccurs="unbounded"/>
                </sequence>
                <attribute name="wsdlElement" type="anyURI" use="optional"/>
                <attribute ref="wsdli:wsdlLocation" use="optional"/>
                <anyAttribute namespace="##any" processContents="lax"/>
            </extension>
        </complexContent>
    </complexType>
</schema>
