extension/implementation/fabric3-xquery/src/main/resources/META-INF/f3-implementation-xquery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Fabric3
 Copyright (c) 2009-2012 Metaform Systems

Fabric3 is licensed under modified terms of the GNU General
Public License. See the accompanying license file for details.


-->
<!--
    $Rev$ $Date$
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.fabric3.org/xmlns/xquery/1.0"
        xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
        elementFormDefault="qualified">

    <import namespace="http://docs.oasis-open.org/ns/opencsa/sca/200912" schemaLocation="sca-core.xsd"/>

    <element name="implementation.xquery" type="XQueryImplementation"
             substitutionGroup="sca:implementation"/>
    <complexType name="XQueryImplementation ">
        <complexContent>
            <extension base="sca:Implementation">
                <sequence>
                    <any namespace="##other" processContents="lax"
                         minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="location" type="NCName" use="required"/>
                <attribute name="context" type="NCName" use="optional"/>
                <attribute name="requires" type="sca:listOfQNames" use="optional"/>
                <attribute name="policySets" type="sca:listOfQNames"
                           use="optional"/>
                <anyAttribute namespace="##any" processContents="lax"/>
            </extension>
        </complexContent>
    </complexType>
</schema>